<div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="text-primary">
                    <tr>
                        <th>
                            College Name
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
               @foreach (var college in ViewBag.colleges)
                    {
                        <tr>
                            <td>
                                @college.CollegeName
                            </td>
                            <td class="text-right">
                            <button onclick="editCollege('@college.CollegeName')"get class="btn btn-round btn-info btn-icon btn-sm like" data-toggle="modal" data-target="#edit-college"><i class="now-ui-icons users_single-02"></i></button>
                            <button class="btn btn-round btn-danger btn-icon btn-sm remove"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    }
            </tbody>
            </table>
        </div>
    </div>
<script>
   function editCollege (college) {
        $('#CollegeName').val(college);
    }
</script>